/* header, h1, nav, ul, li, a
main, section 
footer
*/

/* Fargepalett
Orange: #FF6D05;
Rosa: #D99A9A;
Beige: #242424;
*/


:root {
  --orange: #ff6d05;
  --rosa: #d99a9a;
  --beige: #f6f6f1;
}

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  max-width: 100svw;
  max-height: 100svh;
  padding: 20px;
  display: flex;
  background-image: url("./images/lerretsmaling2.jpg");
  background-size: cover;
}
h1 {
  font-family: "Ribeye", serif;
  color: var(--orange);
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: var(--rosa);
  margin: 25px 20px;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: var(--rosa);
  margin-bottom: 20px;
  text-align: center;
}
h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: var(--rosa);
  margin-bottom: 20px;
  text-align: center;
}
p {
    font-family: "Montserrat", sans-serif;
    font-size: 12px; 
}
nav {
  width: 60svw;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  font-family: "Libre Baskerville", serif;
}
li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
}
main {
  width: 100svw;
  height: 100svh;
  background-color: var(--beige);
}
section {
  max-width: 80%;
}
footer {
  max-width: 10svw;
  height: 10svh;
}

/* HJEM 
section; #index-1, 
h2
section; #index-2
article; .mosaikk, .akvarell, .lerret
h3;
img; .mosaikk-kunst, .akvarell-kunst, .lerrets-kunst
p 
*/
#index-1 {
  max-width: 80%;
  display: flex;
  margin: 20px;
}
#index-2 {
  display: flex;
  margin: 20px;
}
.mosaikk {
  margin: 20px;
}
.akvarell {
  margin: 20px;
}
.lerret {
  margin: 20px;
}
.mosaikk-kunst,
.akvarell-kunst,
.lerrets-kunst {
  max-width: 100%;
}

/* BOOKING
section; #booking-1 
article; .booking-1
h2
h3
p; .valg
form; fieldset, label, input, textarea
section; #booking-2
article; .booking-2
h2
iframe
button 
*/

#booking-1 {
  display: flex;
}
.booking-1 {
  flex-direction: column;
  order: 1;
}
.valg {
    margin: 20px;
}
#booking-2 {
  display: flex;
}
.booking-2 {
  flex-direction: column;
  margin: 20px;
  order: 2;
}
fieldset {
    margin: 30px;
    width: 200px;
}
input {
  display: block;
  border: 1px solid var(--orange);
  padding: 10px 30px;
  margin: 10px;
  min-width: 400px;
  cursor: pointer;

  :hover 
    color: var(--orange);
  
}
label {
font-family: "Montserrat", sans-serif;
}
textarea {
    width: 400px;
    height: 200px;
    margin: 10px;
}
button {
  background-color: var(--orange);
  color: white;
  border: none;
  border-radius: 10%;
  padding: 10px 20px;
  max-width: 200px;
  margin: 10px;
}

/* GALLERI 
h2
article; .galleri-1
img; .kunst-1, .kunst-2, .kunst-3, .kunst-4, .kunst-5, .kunst-6, .kunst-7, .kunst-8
*/
.galleri-1 {
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;
}
.kunst-1,
.kunst-2,
.kunst-3,
.kunst-4,
.kunst-5,
.kunst-6,
.kunst-7,
.kunst-8 {
  width: 50%;
  height: auto;
  margin: 10px;
}

/* FEEDBACK 
section; #feedback
article; .feedback-1
h3
h4, p
*/
#feedback {
display: flex;
}
.feedback-1, 
.feedback-2, 
.feedback-3, 
.feedback-4, 
.feedback-5, 
.feedback-6, 
.feedback-7, 
.feedback-8, 
.feedback-9, 
.feedback-10, 
.feedback-11, 
.feedback-12, 
.feedback-13, 
.feedback-14, 
.feedback-15, 
.feedback-16, 
.feedback-17, 
.feedback-18 {
width: 100%;
margin: 30px 10px;
border: 1px solid var(--orange);
padding: 15px;
}
